@charset "utf-8";

html {
    background-image: url('erol-ahmed-325224-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
}

body {
    background-color: rgb(126, 150, 247);
    margin: 5em;
    margin-top: 0em;
}

body {
    background-color: rgb(126, 150, 247);
}

body>Header>img {
    margin: 3em;
    margin-top: 0em;
    margin-bottom: 0em;
}

h1 {
    text-align: center;
    font-size: 3em;
}

section {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5em;
    margin: 2em;
}

section p {
    line-height: 2em;
    text-indent: 4em;
}