@charset "utf-8";

/* set up the img inline with the text */
section img {
    float: right;
    margin-left: 2em;
}

/* set up the background img for this page */
html {
    background-image: url('samuel-branch-442129-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
}